<div class="hero-listing col-md-9">
    <h2>Hero Listing</h2>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Persona</th>
                <th>Alias</th>
                <th>Power</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>

            <tr class="heroRow" ng-repeat="hero in hl.heroes">
                <td><input type="text" name="" value="{{hero.alias}}"></td>
                <td><input type="text" name="" value="{{hero.persona}}"></td>
                <td>{{hero.name}}</td>
                <td>{{hero.description}}</td>
                <td><button class="btn btn-primary editButton" ng-click="hl.editHero(hero)">Edit</button></td>
                <td><button class="btn btn-danger deleteButton" ng-click="hl.deleteHero(hero)">Delete</button></td>

            </tr>
        </tbody>
    </table>

</div>
